<div class="card-wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Search</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/search.jpeg" alt="Search Repo">
    <mat-card-content>
      <p>Search github to view the available repositories</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Bugs</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/bugs.jpeg" alt="Show bugs">
    <mat-card-content>
      <p>Lists all current issues for repository</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Stats</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/graphs.png" alt="Repo Stats">
    <mat-card-content>
      <p>Displays the breakdown of issues for the repository (open vs closed).</p>
    </mat-card-content>
  </mat-card>
</div>
