.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  mat-card {
    max-width: 340px;
    height: 340px;
    margin: 10px;

    &:hover {
      cursor: pointer;
    }

    img {
      height: 230px;
    }

    mat-card-content {
      height: 48px;
    }
  }
}
