.table-container {
    .filter-input {
        display: flex;
      }
    
      table {
        width: 100%;

        .mat-column-select {
          overflow: initial;
        }
      }
    
      .mat-form-field {
        font-size: 14px;
        width: 100%;
      }
    
      td, th {
        width: 25%;
      }
}