.issues-container {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .issues-heading {
      display: flex;
      justify-content: center;

      span {
        color: #c2185b;
      }
    }
  }