.issues-container {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .heading {
      display: flex;
      justify-content: center;

      span {
        color: #c2185b;
      }
    }

    .no-data {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px 0;
      color: #c2185b;
  
      span {
        margin: 10px;
      }
    }
  }