.search-container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .search-heading {
    display: flex;
    justify-content: center;
  }

  .actions {
    text-align: center;
    
    .search-input {
      width: 50%;
      margin: 5px;
    }
  }
}
