<div class="search-container">
  <div class="heading">
    <h2>Search gihub for a repository:</h2>
  </div>
  <form [formGroup]="searchForm" class="actions">
    <mat-form-field class="search-input">
      <mat-label>Search Term</mat-label>
      <input matInput placeholder="Ex. bootstrap" formControlName="searchTerm">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="startSearch()" [disabled]="searchForm.controls.searchTerm.value.length === 0">Search</button>
  </form>
  <div class="no-data" *ngIf="(searchForm.controls.searchTerm.value.length === 0 && !searchClicked) || !searchClicked">
    <mat-icon aria-hidden="false" aria-label="no data warning">warning</mat-icon>
    <span>Unable to display data at this point.</span>
  </div>
  
  <div *ngIf="(searchForm.controls.searchTerm.value.length !== 0 && searchClicked) || searchClicked">
    <app-table [tableColumns]="displayedColumns" [tableData]="dataSource"></app-table>
  </div>
</div>
