.search-container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .heading {
    display: flex;
    justify-content: center;
  }

  .actions {
    text-align: center;
    
    .search-input {
      width: 50%;
      margin: 5px;
    }
  }

  .no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    color: #c2185b;

    span {
      margin: 10px;
    }
  }
}
