<div class="details-container">
  <div class="heading">
    <h3>Selected Repository <span>{{repoName}}</span> details:</h3>
  </div>

  <div class="repo-details">
    <div>
      <strong>Description:</strong>
      <p>{{data.description}}</p>
    </div>
    <div>
      <strong>Date Created:</strong>
      <p>{{data.created_at | date}}</p>
    </div>
    <div>
      <strong>Stars:</strong>
      <p>{{data.stargazers_count}}</p>
    </div>
    <div>
      <strong>Forks:</strong>
      <p>{{data.forks}}</p>
    </div>
    <div>
      <strong>Watchers:</strong>
      <p>{{data.watchers}}</p>
    </div>
    <div>
      <strong>Total Open Issues:</strong>
      <p>{{data.open_issues}}</p>
    </div>
  </div>
</div>
