.details-container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .heading {
    display: flex;
    justify-content: center;

    span {
      color: #c2185b;
    }
  }

  .repo-details {
    display: flex;
    flex-direction: column;

    div {
      padding: 5px;

      strong {
        mat-icon {
          margin: 5px;
          color: #c2185b;
        }
      }
    }
  }
}
